
@{
    ViewBag.Title = "Account";
}

<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- /Added by HTTrack -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/style/css/style-main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" media="all" />
    <title>Sign Up - BanLaNha</title>
</head>

<body class="signup">
    <!--bgin content-->
    <div id="box-content">
        <!-- <div class="container" style="margin-top: 1rem">
            <div class="row">
                <div class="slide-show">
                    <div class="vt-slideshow">
                        <ul>
                            <li class="slide1" data-transition="random"><img src="../images/slide/bg-s2.png" alt="" /></li>
                            <li class="slide2" data-transition="random"><img src="../images/slide/bg-s1.png" alt="" /></li>
                            <li class="slide3" data-transition="random"><img src="../images/slide/bg-s3.png" alt="" /></li>
                            <li class="slide3" data-transition="random"><img src="../images/slide/bg-s4.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div id="signup-box">
            <div class="container-signup">
                <h2>Thông tin cá nhân</h2>
                <div class="form-box">
                    <form name="form-signup" action="#" method="POST"></form>
                    <div class="info" style="margin-left: 3vw;">
                        <label for="name">Họ tên</label><br />
                        <input type="text" id="name" name="fullname" value="Mr ABC" /><br />
                        <label for="mail">Email</label><br />
                        <input type="text" id="mail" name="email" value="gadibo@gmail.com" /><br />
                        <label for="phonenum">Số điện thoại</label><br />
                        <input type="text" id="phonenum" name="phonenumber" value="098654123" /><br />
                        <label for="adr">Địa chỉ</label><br />
                        <input type="text" id="adr" name="address" value="Do Ho, Nam Tu Niem, Ha Noi" /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end content-->

</body>

</html>