
@{
    ViewBag.Title = "StandardPolicy";
}


@section css
    {
    <link rel="stylesheet" href="~/Content/style/css/chinhSachBaoHanh.css" />
}


<!--begin content-->
<div id="box-content">
    <div class="container" style="margin-top: 1rem">

        <div class="row">
            <div class="slide-show">
                <div class="vt-slideshow">
                    <ul>
                        <li class="slide1" data-transition="random"><img src="~/Content/images/slide/bg-s2.png" alt="" /></li>
                        <li class="slide2" data-transition="random"><img src="~/Content/images/slide/bg-s1.png" alt="" /></li>
                        <li class="slide3" data-transition="random"><img src="~/Content/images/slide/bg-s3.png" alt="" /></li>
                        <li class="slide3" data-transition="random"><img src="~/Content/images/slide/bg-s4.png" alt="" /></li>
                    </ul>

                </div>
            </div>
            <div class="menu-head">

                <a class="tieuchuan"> Bảo hành tiêu chuẩn</a>
            </div>
        </div>
    </div>
    <div class="position-02">
        <div class="container">
            <div class="row">
                <div class="csbh__content">
                    <div id="cnt30Ngay" class="content-item" style="display: none;">
                        <p style="text-align: justify;">Khi mua sản phẩm tại banlanha, khách hàng có quyền yên tâm với chính sách đổi mới miễn phí lên tới 30 ngày.</p>
                        <table border="1" style="border-collapse: collapse; width: 100%; height: 382px;">
                            <tbody>
                                <tr style="height: 17px;">
                                    <td align="center" style="width: 25%;" valign="middle">
                                        <h3><strong>Loại Sản Phẩm</strong></h3>
                                    </td>
                                    <td align="center" style="width: 15%;" valign="middle">
                                        <h3 style="text-align: center;"><strong>Đổi mới miễn phí (*)</strong></h3>
                                    </td>
                                    <td style="width: 33.3333%; height: 17px; text-align: center;">
                                        <h3><strong>Quy định nhập lại, trả lại</strong></h3>
                                    </td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td align="center" style="width: 25%;" valign="middle"><span>Điện thoại, laptop</span></td>
                                    <td align="center" style="width: 15%;" valign="middle">30 ngày</td>
                                    <td style="width: 33.3333%; height: 17px; text-align: justify;">
                                        <p><span>- Trong 30 ngày đầu nhập lại máy, trừ phí 15% trên giá hiện tại (hoặc giá mua nếu giá mua thấp hơn giá hiện tại)</span></p>
                                        <p><span></span><span>- Sau 30 ngày nhập lại máy theo giá thoả thuận </span></p>
                                    </td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td align="center" style="width: 25%;" valign="middle"><span>Loa - Tai nghe cao cấp, Đồng hồ thông minh</span></td>
                                    <td align="center" style="width: 15%;" valign="middle">15 ngày</td>
                                    <td style="width: 33.3333%; height: 17px; text-align: center;">Không nhập lại sản phẩm</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td align="center" style="width: 25%;" valign="middle">Bảo hành mở rộng</td>
                                    <td align="center" style="width: 15%;" valign="middle">15 ngày</td>
                                    <td style="width: 33.3333%; height: 17px; text-align: center;"><span>Trong 7 ngày đầu, máy không lỗi, khách hàng trả lại gói BHMR </span><br><span>&gt; Nhập lại trừ phí 50% gói BHMR</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: justify;">(*):&nbsp;Lỗi phần cứng từ phía nhà sản xuất</p>
                        <p style="text-align: justify;"><em><span style="text-decoration: underline;"><strong>Điều kiện đổi trả:</strong></span></em></p>
                        <ul>
                            <li style="text-align: justify;">Máy:&nbsp;Như mới, không xước xát, không dán decal, hình trang trí</li>
                            <li style="text-align: justify;">Máy cũ:&nbsp;có tình trạng sản phẩm như lúc mới mua</li>
                            <li style="text-align: justify;">Hộp:&nbsp;Như mới, không móp méo, rách, vỡ, bị viết, vẽ, quấn băng dính, keo; có Serial/IMEI trên hộp trùng với thân máy.</li>
                            <li style="text-align: justify;">Phụ kiện và quà tặng:&nbsp;Còn đầy đủ, nguyên vẹn, không móp méo xước xát hoặc bị hư hại trong quá trình sử dụng.</li>
                            <li style="text-align: justify;">Tài khoản:&nbsp;Máy đã đã được đăng xuất khỏi tất cả các tài khoản như: iCloud, Google Account, Mi Account…</li>
                            <li style="text-align: justify;">(*) Lỗi từ phía Nhà sản xuất là các lỗi bao gồm: Lỗi nguồn, lỗi trên mainboard, ổ cứng, màn hình và các linh kiện phần cứng bên trong</li>
                            <li style="text-align: justify;">Ví dụ: Sọc màn hình, tràn màu, loa rè, màn hình có từ 3 điểm chết trở lên hoặc 1 điểm chết có kích thước lớn hơn 1mm</li>
                        </ul>
                    </div>
                    <div id="cntTCDienThoai" class="content-item" style="display: block;">
                        <p>Các sản phẩm chính hãng, Quý khách có thể tới các TTBH chính hãng hoặc trực tiếp tới các cửa hàng banlanha để được tiếp nhận gửi máy bảo hành chính hãng.</p>
                        <p>Yêu cầu tiếp nhận bảo hành tùy theo quy định của từng hãng, chi tiết có trong bảng sau:</p>
                        <table border="1" style="border-collapse: collapse; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="width: 20.2381%; text-align: center;">
                                        <h3><strong>Sản phẩm</strong></h3>
                                    </td>
                                    <td style="width: 25.9107%; text-align: center;">
                                        <h3><strong>Thời gian bảo hành</strong></h3>
                                    </td>
                                    <td style="width: 25%;">
                                        <h3 style="text-align: center;"><strong>Quyền lợi bảo hành</strong></h3>
                                    </td>
                                    <td style="width: 24.7024%; text-align: center;">
                                        <h3><strong>Địa chỉ bảo hành</strong></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20.2381%; text-align: center;"><span>Máy mới</span></td>
                                    <td style="width: 24.9107%; text-align: left;">
                                        <p style="text-align: center;"><span>12 tháng</span><br><span>(hoặc dài hơn theo quy định của hãng)</span></p>
                                    </td>
                                    <td style="width: 25%;">
                                        <p style="text-align: center;"><span>Quyền lợi bảo hành của hãng</span></p>
                                    </td>
                                    <td style="width: 24.7024%; text-align: center;"><span>TTBH chính hãng</span></td>
                                </tr>
                                <tr>
                                    <td style="width: 20.2381%; text-align: center;"><span>Máy đã kích hoạt bảo hành chính hãng</span></td>
                                    <td style="width: 24.9107%; text-align: left;">
                                        <p style="text-align: center;"><span>12 tháng = Thời gian bảo hành còn lại tại hãng + Bảo hành tại banlanha</span></p>
                                    </td>
                                    <td style="width: 25%;">
                                        <p style="text-align: center;"><span>- Theo quyền lợi bảo hành của hãng trong thời gian được hãng bảo hành</span></p>
                                        <p style="text-align: center;"><span></span>- Sửa chữa, thay thế linh kiện trong thời gian bảo hành còn lại tại banlanha</p>
                                    </td>
                                    <td style="width: 24.7024%; text-align: center;"><span>TTBH chính hãng &amp; </span><br><span>banlanha/ Điện Thoại Vui</span></td>
                                </tr>
                                <tr>
                                    <td style="width: 20.2381%; text-align: center;"><span>Máy cũ</span></td>
                                    <td style="width: 24.2381%; text-align: center;"><span><span>6 tháng</span></span></td>
                                    <td style="width: 25%; text-align: center;"><span>Sửa chữa, thay thế linh kiện</span></td>
                                    <td style="width: 24.7024%; text-align: center;"><a href="https://banlanha.com.vn/bao-hanh/samsung"><br></a><span>banlanha/ Điện Thoại Vui</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li><span>Trung tâm bảo hành của các hãng, quý khách có thể xem chi tiết tại:&nbsp;<a href="https://banlanha.com.vn/bao-hanh/apple"><span>https://banlanha.com.vn/bao-hanh/apple</span></a></span></li>
                            <li>Trong thời gian đợi bảo hành - sửa chữa, khách hàng sẽ được hỗ trợ miễn phí một điện thoại khác để sử dụng.</li>
                            <li>Khách hàng trả lại máy đã mượn sau khi nhận lại máy của mình.</li>
                        </ul>
                    </div>
                    <div id="cntTCPhuKien" class="content-item" style="display: none;">
                        <table border="1" cellpadding="0" cellspacing="0" dir="ltr" style="border-color: #dddddd; border-width: 1px; width: 100%; border-style: solid;">
                            <colgroup><col width="20%"><col width="20%"><col width="20%"><col width="20%"><col width="20%"></colgroup>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;"><em><strong>Sản phẩm</strong></em></td>
                                    <td style="text-align: center;"><em><strong>Tình trạng</strong></em></td>
                                    <td style="text-align: center;"><em><strong>Thời gian</strong></em></td>
                                    <td colspan="2" rowspan="1" style="text-align: center;"><em><strong>Quyền lợi bảo hành</strong></em><br><em><strong>(lỗi từ phía nhà sản xuất)</strong></em></td>
                                    <td style="text-align: center;"><em><strong>Địa điểm</strong></em></td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="2" style="text-align: center;">
                                        <div>Phụ kiện</div>
                                    </td>
                                    <td style="text-align: center;">Mới</td>
                                    <td style="text-align: center;">12 tháng</td>
                                    <td colspan="2" rowspan="2" style="text-align: center;">1 đổi 1 tất cả các lỗi</td>
                                    <td colspan="1" rowspan="9" style="text-align: center;">
                                        <div>banlanha</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Cũ</td>
                                    <td style="text-align: center;">30 ngày</td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align: center;"><strong>Phụ kiện khác</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Dán màn hình</td>
                                    <td style="text-align: center;">30 ngày</td>
                                    <td colspan="2" rowspan="2" style="text-align: center;">
                                        <p>-&nbsp;1 đổi 1 tất cả các lỗi<br>- Dán mới lần 2 được giảm 30%.<br>- <em><strong>Dán PPF chỉ được thực hiện ở cửa hàng.</strong></em><br><em><strong>(Không áp dụng bảo hành cho đơn hàng giao tại nhà)</strong></em></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">Dán cường lực</td>
                                    <td style="text-align: center;">30 ngày</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Quà tặng (của hãng)</td>
                                    <td style="text-align: center;">30 ngày</td>
                                    <td colspan="2" rowspan="3" style="text-align: center;">1 đổi 1 tất cả các lỗi</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Thẻ nhớ, USB</td>
                                    <td style="text-align: center;">24 tháng</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;"><span>Phụ kiện đi kèm theo Phụ kiện</span></td>
                                    <td style="text-align: center;">3 tháng</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Tai nghe, Loa, Đồ chơi công nghệ (&gt;1.000.000)</td>
                                    <td style="text-align: center;">12 tháng</td>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Sửa chữa, thay thế linh kiện</td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" style="text-align: center;">Bao da, ốp lưng</td>
                                    <td colspan="4" rowspan="1" style="text-align: center;">Không bảo hành</td>
                                </tr>
                                <tr>
                                    <td colspan="6" rowspan="1" style="text-align: left;">
                                        <strong>Đặc biệt:</strong><br>
                                        <ul>
                                            <li><span>Phụ kiện Anker - Pisen: 18 tháng</span></li>
                                            <li><span></span>Phụ kiện Aukey - Energizer - Totolink - Tp-Link: 24 tháng</li>
                                            <li>Sạc cáp Aukey: Đứt gãy do hao mòn, hư hỏng từ phía sản phẩm trong quá trình sử dụng vẫn được bảo hành</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="cntMR24" class="content-item" style="display: none;">
                        <p><span style="text-decoration: underline;"><strong>SẢN PHẨM ÁP DỤNG:</strong></span><strong>&nbsp;<span>Điện thoại, Laptop, Phụ kiện cao cấp</span></strong></p>
                        <p><span style="text-decoration: underline;"><strong>THỜI GIAN BẢO</strong><strong> HÀNH:</strong></span>&nbsp; 12 - 24 tháng</p>
                        <p><strong><span style="text-decoration: underline;">NỘI DUNG GÓI BẢO HÀNH:</span></strong></p>
                        <ul>
                            <li><em><strong>S-24+</strong></em>&nbsp;<span>là dịch vụ bảo hành mở rộng dành cho điện thoại máy tính bảng chính hãng.</span></li>
                            <li><span><span>Tham gia S24+, khách hàng được kéo dài thêm thời gian bảo hành cho điện thoại/máy tính bảng hàng của mình từ 12 - 24 tháng</span></span></li>
                            <li><span> Khi hết thời gian bảo hành từ hãng, máy vẫn bảo hành các lỗi phát sinh từ phía nhà sản xuất trong 12 tháng/ 24 tháng tiếp theo</span></li>
                            <li>Các trường hợp loại trừ không thuộc phạm vi bảo hành của S24+</li>
                        </ul>
                        <table border="1" style="border-collapse: collapse; width: 100%;">
                            <tbody>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">
                                        <h3>Điều khoản loại trừ</h3>
                                    </td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">
                                        <h3>Bảo hành</h3>
                                    </td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">1. Phụ kiện kèm theo của sản phẩm</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">2. Can thiệp phần cứng mà không có chỉ định từ NSX hoặc banlanha</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">3. Các vấn đề liên quan đến phần mềm</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">4. Pin không nằm trong phạm vi bảo hành của gia hạn bảo hành</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">5. Các vấn đề liên quan đến trộm, cướp, sử dụng cẩu thả</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                                <tr style="height: 17px;">
                                    <td style="width: 78.5714%; height: 17px; text-align: center;">6. Sử dụng phụ kiện, dòng điện không phù hợp dẫn đến cháy nổ</td>
                                    <td style="width: 21.4286%; height: 17px; text-align: center;">x</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>Tiếp nhận bảo hành:&nbsp;<span>Tất cả các cửa hàng banlanha hoặc TTBH uỷ quyền Điện Thoại Vui</span></li>
                            <li>Thời gian xử lý:&nbsp;từ 14 ngày - 30 ngày.&nbsp;</li>
                            <li>Nếu thời gian xử lý nhanh hơn banlanha sẽ liên hệ để trả máy sớm cho khách hàng</li>
                        </ul>
                    </div>
                    <!-- <div id="cntMRDiamond" class="content-item">
                            </div> -->
                    <div id="cntMR1Doi1" class="content-item" style="display: none;">
                        <p><span style="text-decoration: underline;"><strong>SẢN PHẨM ÁP DỤNG:</strong></span>&nbsp;<span>Điện thoại, Máy tính bảng mới/ cũ; Tai nghe/ Đồng Hồ Samsung, Apple</span><span><br></span></p>
                        <p><span style="text-decoration: underline;"><strong>THỜI HẠN BẢO HÀNH:</strong></span> 6 tháng/12 tháng</p>
                        <h3><span style="text-decoration: underline;"><strong>QUYỀN LỢI BẢO HÀNH 1 ĐỔI 1 VIP</strong></span></h3>
                        <p><span style="text-decoration: underline;"><strong></strong></span>1. Đổi máy sau khi máy được kiểm tra và xác định đúng máy bị lỗi phần cứng do nhà sản xuất</p>
                        <p>2. Máy đổi bảo hành là máy tương đương với máy khách hàng mua ban đầu tại banlanha.&nbsp;</p>
                        <p>3. Nếu máy được đổi có lỗi tiếp, máy vẫn sẽ được bảo hành 1 đôi 1 trong thời gian bảo hành còn lại</p>
                        <p>4. Với các trường hợp không có máy để đổi ngay thì banlanha cam kết:</p>
                        <p>- Thời gian chờ xử lý đổi máy tối đa 7 ngày làm việc (trừ thứ bảy + chủ nhật)</p>
                        <p>- Sau 7 ngày, nếu không có máy đổi cho khách hàng banlanha sẽ xử lý:</p>
                        <ul>
                            <li>Đổi cho khách hàng một sản phẩm tương đương với giá trị hiện tại của sản phẩm</li>
                            <li>Hoàn trả tiền lại cho khách hàng theo công thức sau:</li>
                        </ul>
                        <p><br><em><strong>Giá nhập lại = Giá máy tại thời điểm mua x (100% - 3%xSố tháng sử dụng)</strong></em></p>
                        <p>(Số tháng sử dụng = Tháng tại thời điểm đổi máy – Tháng tại thời điểm mua máy)<br><br><span style="text-decoration: underline;"><strong>Lưu ý:</strong></span></p>
                        <ul>
                            <li><span>Các trường hợp máy bị cấn móp, rơi vỡ, khi nhập lại máy banlanha sẽ trừ phí khách hàng theo quy định nhập máy</span></li>
                            <li><span>Chỉ áp dụng máy đổi máy, tất cả các phụ kiện kèm theo như: tai nghe, cáp, sạc... không đổi kèm</span></li>
                            <li>Trường hợp khách hàng được đổi máy nhưng muốn đổi sang dòng máy khác có giá trị cao hơn hoặc muốn hoàn lại tiền mặt.</li>
                        </ul>
                        <p><br><em><strong>banlanha hỗ trợ nhập lại máy như sau:</strong></em></p>
                        <ul>
                            <li>Giá nhập lại = Giá trị máy hiện tại x 90%</li>
                        </ul>
                        <p><em><strong>Tiếp nhận bảo hành:</strong></em>&nbsp;<span>Tất cả các cửa hàng banlanha hoặc TTBH uỷ quyền Điện Thoại Vui</span></p>
                    </div>
                    <div id="cntMRRvrn" class="content-item" style="display: none;">
                        <p><span style="text-decoration: underline;"><strong style="text-decoration-line: underline;">SẢN PHẨM ÁP DỤNG:</strong></span>&nbsp;Điện thoại/ Máy tính bảng Mới, Cũ</p>
                        <p><span style="text-decoration: underline;"><strong>THỜI HẠN BẢO HÀNH:</strong></span> 12 tháng</p>
                        <h3><strong>QUYỀN LỢI BẢO HÀNH RƠI VỠ - RƠI NƯỚC</strong></h3>
                        <p>1. Bao gồm các quyền lợi của gói BẢO HÀNH 1 ĐỔI 1 VIP&nbsp;</p>
                        <p>2. Với các tai nạn rơi vỡ, rơi nước …banlanha tiến hành sửa chữa/ thay thế linh kiện/ bồi thường cho khách hàng.&nbsp;</p>
                        <p>3. Với mỗi tai nạn, khách hàng chịu phí miễn thường là 10% chi phí sửa chữa/ thay thế linh kiện/ bồi thường</p>
                        <p>4. Giá trị hợp đồng bảo hành rơi vỡ, rơi nước bằng tối đa giá trị của máy</p>
                        <ul>
                            <li>Tổng chi phí cho các lần sửa chữa/ thay thế linh kiện không được vượt quá giá trị của hợp đồng bảo hành rơi vỡ - rơi nước</li>
                        </ul>
                        <p>5. Trường hợp máy không thể sửa chữa được</p>
                        <ul>
                            <li>Khách hàng được đổi 1 máy cũ tương đương máy gặp tai nạn</li>
                            <li>Khách hàng chịu phí miễn thường là 10% giá trị của máy được đổi.</li>
                            <li>Hợp đồng bảo hành rơi vỡ - rơi nước của máy hết hiệu lực.</li>
                        </ul>
                        <p>6. Chỉ áp dụng bảo hành máy, tất cả các phụ kiện kèm theo như: tai nghe, pin, cáp, adapter sạc... không thuộc quyền lợi gói bảo hành</p>
                        <p><span><span style="text-decoration: underline;"><strong>TIẾP NHẬN BẢO HÀNH</strong></span>:&nbsp;<span>Tất cả các cửa hàng banlanha hoặc TTBH uỷ quyền Điện Thoại Vui</span></span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="f-left comment_box">
                <div class="f-left comment_info">
                    <span class="totalcomment" id="total_comment"><b>Hỏi và đáp (99 Bình luận)</b></span>
                </div>

                <div class="f-left form-add">
                    <div class="main_form">
                        <textarea class="form-control" name="detail" id="review_field" cols="5" rows="5" placeholder="Xin mời để lại câu hỏi, CellphoneS sẽ trả lời trong 1h từ 8h - 22h mỗi ngày ." onfocus="comment.backToMainCmt()"></textarea>
                        <div class="f-left user_action_wrap">
                            <div class="cmt_left">
                                <a href="#" class="poli" rel="nofollow">Quy định đăng bình luận</a>
                            </div>
                            <div class="cmt_right">
                                <a class="button" href="javascript:void(0)" id="btnSendCmt" onclick="pageComment.sendCmt();">Gửi</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="f-left comment_wrap">
                    <ul class="listcomment" data-index="1" data-load="0" data-count="" id="page_comment_list">
                        <li class="f-left cmt_item" id="item_375337">
                            <div class="rowuser"><a href="javascript:void(0)"> <strong>Nguyen thi hoang thanh</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(375337)"></a></div><div class="question">
                                em đang có khoảng 3 triệu rưỡi có thể lên tầm 300k nhu cầu của e là :<br>
                                Chơi liên quân mượt với đồ hoạ trung bình<br>
                                Pin 3000 trở lên có sạc nhanh<br>
                                Loa nghe rõ có tặng kèm tai nghe thì càng tốt<br>
                                E ko cần camera quan trọng hiệu năng<br>
                                Màn hình ko nhỏ quá từ 4 ich trở lên là được rồi<br>
                                Ram từ 2 trở lên , rom thì từ 16 trở lên<br>
                                Điện thoại hãng nào cũng được nhưng mà phải dễ mua trên thị trường mong  các anh chị gợi ý giúp em
                            </div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(375337,175926788)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 5 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_375540" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đắc Thành</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào anh Nguyễn Thị Hoàng Thanh<br>Dạ anh có thể tham khảo REDMI NOTE 8 3G 32GB ĐEN giảm giá còn 3.500.000 (HCM) ạ. Không biết anh ở quận nào để em gửi địa chỉ gần nhất đến anh ạ ? <br>Mong nhận phản hồi từ Anh ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(375337,175926788)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 5 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_375337"></div>
                        </li>
                        <li class="f-left cmt_item" id="item_373144"><div class="rowuser"><a href="javascript:void(0)"> <strong>Nguyễn Thị Ngọc Quân</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(373144)"></a></div><div class="question">Hôm nay tôi có mua 1 máy tính bảng Huawei Mediapad M5 Lite (ngày 3.4.2020), bảo hành 12 tháng chính hãng, nhưng khi kiểm tra bảo hành online thì ngày hết hạn bảo hành là 18.02.2021. Đồng thời, nhân viên sale có gọi tư vấn gói bảo hành và offer giá giảm thêm 500k (có confirm giá 2 lần qua ĐT) do có hot sale nhưng khi xuất hóa đơn thanh toán thì ko được giảm =&gt; CellphoneS giải thích giúp.</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(373144,175650249)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 8 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_373299" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đắc Thành</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào chị Nguyễn Thị Ngọc Quân<br>Dạ trường hợp này em xin được chuyển thông tin về cửa hàng để kiểm tra lại ngày bảo hành điện tử và giá máy cho mình, chị chú ý điện thoại bên em sẽ liên hệ ạ.<br>Xin thông tin đến chị ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(373144,175650249)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 8 ngày trước</a></div></div><div class="cmt_item rep_item" id="item_374125" style="border-top: 1px solid #dfdfdf;padding: 10px 5px 5px 5px;"><div class="rowuser"><a href="javascript:void(0)"> <strong>Nguyễn Thị Ngọc Quân</strong></a></div><div class="question">Tôi vẫn đang chờ thông tin phản hồi!</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(373144,175650249)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 6 ngày trước</a></div></div><div class="cmt_item rep_item" id="item_374128" style="border-top: 1px solid #dfdfdf;padding: 10px 5px 5px 5px;"><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Ngọc Trâm</strong></a><b class="qtv">QTV</b></div><div class="question"> Dạ em xin lỗi về sự chậm trễ này, em đã nhắn lại với cửa hàng, các bạn sẽ kiểm tra và liên hệ hỗ trợ chị ngay ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(373144,175650249)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 6 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_373144"></div></li>
                        <li class="f-left cmt_item" id="item_372976"><div class="rowuser"><a href="javascript:void(0)"><div>t</div><strong>toàn</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(372976)"></a></div><div class="question">cho mình hỏi mình mua gói bảo hành rơi vỡ ngâm nước khi bảo hành thì mình có phải mất phí gì ko</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(372976,175636240)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 8 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_372980" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Hoàng Nam</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào anh Toàn,<br>Dạ gói bảo hành rơi vỡ rơi nước bên em thì Khách hàng thanh toán 10% , CellphoneS chịu 90% chi phí sửa. Nhưng em kiểm tra sđt ****4141 không thấy thông tin mua hàng ở bên em. Mình có thể cho em xin sđt mua hàng để em kiểm tra chính xác cho mình ạ.<br>Mong nhận phản hồi từ anh.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(372976,175636240)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 8 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_372976"></div></li>
                        <li class="f-left cmt_item" id="item_370820"><div class="rowuser"><a href="javascript:void(0)"><div>B</div><strong>Biên</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(370820)"></a></div><div class="question">Cân mua ultra hoăc promax 0983******</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(370820,175342680)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 11 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_370827" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đạt Nguyễn</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào Anh Biên,<br>Dạ, SAMSUNG GALAXY S20 ULTRA ĐEN (G988) giá 25.090.000<br>APPLE IPHONE 11 PRO MAX 64GB VÀNG CHÍNH HÃNG (VN/A) giá 29.390.000 (HCM) <br>Không biết mình ở quận nào để em kiểm tra chi nhánh gần nhất giúp mình ạ. <br>Em cảm ơn ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(370820,175342680)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 11 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_370820"></div></li>
                        <li class="f-left cmt_item" id="item_370253"><div class="rowuser"><a href="javascript:void(0)"><div>T</div><strong>Trọng Khang</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(370253)"></a></div><div class="question">Mình có mã giảm giá sinh nhật . Không biết mình đặt hàng online và thanh toán online có mục áp mã giảm trực tiếp vào không shop</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(370253,175245547)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 12 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_370351" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Ngọc Trâm</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào anh Trọng Khang,<br>Dạ nếu anh đặt hàng online trên website, mình giúp em thêm mã vào phần lưu ý. Trường hợp anh đã thanh toán, CellphoneS sẽ hỗ trợ hoàn lại sau khi anh thanh toán thành công. Tuy nhiên để tiện hơn mình có thể để lại thông tin tại đây hoặc đặt hàng qua chat/ tổng đài để các bạn trực tiếp áp dụng mã và hỗ trợ anh tốt hơn nhé.<br>Không biết anh quan tâm sản phẩm nào để em kiểm tra lại ạ? <br>Mong sớm nhận được phản hồi từ anh.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(370253,175245547)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 12 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_370253"></div></li>
                        <li class="f-left cmt_item" id="item_365354"><div class="rowuser"><a href="javascript:void(0)">  <strong>Phạm ánh tuyết </strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(365354)"></a></div><div class="question">Có thể cho mình trả lại realme c3 mình mua lúc 5h30 ngày 23/3 /2020 được không điện thoại màn hình nhèo quá mỏng giải quyết vấn đề này cho mình</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365354,174500759)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_365453" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Ngọc Trâm</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào chị Phạm Ánh Tuyết,<br>Dạ em kiểm tra REALME C3 3G 32GB ĐỎ chị mua ngày 23/03/2020 hiện vẫn còn trong thời gian bao test 30 ngày. Trường hợp máy mình thỏa các điều kiện: còn đủ hộp, phụ kiện, ngoại hình và màn hình đẹp, máy hoạt động tốt, không lỗi, CellphoneS hỗ trợ thu lại trừ 15% phí, giá thu khoảng 2.371.500đ.<br>Tuy nhiên giá trên chỉ mang tính tham khảo. Mình dành chút thời gian mang máy + đầy đủ hộp, phụ kiện đến cửa hàng CellphoneS gần nhất để được hỗ trợ định giá thu bù chính xác nhất ạ. <br>Em xin cảm ơn ạ!<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365354,174500759)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div></div><div class="cmt_item rep_item" id="item_378299" style="border-top: 1px solid #dfdfdf;padding: 10px 5px 5px 5px;"><div class="rowuser"><a href="javascript:void(0)"><div>M</div><strong>Mai Quyết Thắng </strong></a></div><div class="question">Cho em hỏi là em có dưới 3 triệu, liệu có máy nào phù hợp để chơi pubg và liên quân không ạ, mong shop tư vấn do em còn là học sinh, để dành gần 2 tháng mới được như này.</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365354,174500759)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 1 ngày trước</a></div></div><div class="cmt_item rep_item" id="item_378315" style="border-top: 1px solid #dfdfdf;padding: 10px 5px 5px 5px;"><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Tâm Vy</strong></a><b class="qtv">QTV</b></div><div class="question"> Dạ thật sự với tầm giá dưới 3.00.000 thì máy sẽ không đủ mạnh để có thể chơi Pubg mượt được chị nhé . Chị có thể tham khảo VSMART ACTIVE 3 6G 64G XANH LÁ CŨ - ĐẸP giá 2.700.000 (HN) nhé ạ .<br>Hiện do tình hình dịch bùng phát , CellphoneS sẽ tạm thời đóng cửa các cửa hàng tại khu vực HN ạ . Tuy nhiên , CellphoneS vẫn cố gắng hỗ trợ giao hàng tận nơi nhằm phục vụ khách hàng . Đối với sản phẩm trên , khi anh đặt hàng sẽ được miễn phí tiền ship nhé ạ .<br>Không biết chị cần em lên đơn hỗ trợ giao hàng chứ ạ ? <br>Mong nhận được phản hồi từ chị<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365354,174500759)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 1 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_365354"></div></li>
                        <li class="f-left cmt_item" id="item_365348"><div class="rowuser"><a href="javascript:void(0)">  <strong>Phạm ánh tuyết</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(365348)"></a></div><div class="question">Lúc mua máy. Realms bạn chỉ nói cấu hình cao tốt giờ về luơ FB chữ nhèo hết mình mơi mua tối 23 /3 có thể cho mình trả lại mình hối hận quá</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365348,174500470)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_365421" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đạt Nguyễn</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào Chị Phạm Ánh Tuyết,<br>Dạ, trong thời gian bao test (30ngày) CellphoneS hỗ trợ nhập lại 85% giá máy nếu sản phẩm còn nguyên tình trạng ban đầu, đủ hộp, phụ kiện, quà khuyến mại (nếu có). Sau thời gian bao test bên em sẽ thu lại theo giá thương lượng Chị nhé<br>Em cảm ơn ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365348,174500470)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_365348"></div></li>
                        <li class="f-left cmt_item" id="item_365345"><div class="rowuser"><a href="javascript:void(0)">  <strong>Phạm ánh tuyết </strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(365345)"></a></div><div class="question">Mình mong đổi qua Nokia 7.2. Mình chịu lỗ cũng được chứ nàm hình nhèo quá mình không thấy gì lúc mua không có máy trải nghiệm buồn quá lần đầu mua ở đây thất vọng quá</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365345,174500420)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_365480" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đạt Nguyễn</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào Chị Phám Ánh Tuyết,<br>Dạ, trong thời gian bao test (30ngày) CellphoneS hỗ trợ nhập lại 85% giá máy nếu sản phẩm còn nguyên tình trạng ban đầu, đủ hộp, phụ kiện, quà khuyến mại (nếu có). Sau thời gian bao test bên em sẽ thu lại theo giá thương lượng Chị nhé<br>Em cảm ơn ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365345,174500420)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_365345"></div></li>
                        <li class="f-left cmt_item" id="item_365343"><div class="rowuser"><a href="javascript:void(0)">  <strong>Phạm ánh tuyết </strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(365343)"></a></div><div class="question">Mình mới mua realms c3 mà về mình thấy nàm hình bị hạt rất nhiều mình muốn trả đổi qua dong khác dựoc không shop mua  23/3</div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365343,174500387)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_365415" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Đạt Nguyễn</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào Chị Phạm Ánh Tuyết<br>Dạ, trong thời gian bao test (30ngày) CellphoneS hỗ trợ nhập lại 85% giá máy nếu sản phẩm còn nguyên tình trạng ban đầu, đủ hộp, phụ kiện, quà khuyến mại (nếu có). Sau thời gian bao test bên em sẽ thu lại theo giá thương lượng Chị nhé<br>Xin thông tin đến Chị ạ.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(365343,174500387)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 19 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_365343"></div></li>
                        <li class="f-left cmt_item" id="item_362517">
                            <div class="rowuser"><a href="javascript:void(0)"> <strong>Dương San</strong><img class="btn-pin" src="/media/logo_pin.png" onclick="pinComment.pinComment(362517)"></a></div><div class="question">
                                Mình mua gopro hero 7 black tại cellphone nhưng test seri chính hãng thì báo không có<br>
                                Cell phone giải thích giúp
                            </div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(362517,174108447)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 23 ngày trước</a></div><div class="reply_list"><span><font class="fa fa-caret-up fa-2x"></font><font class="fa fa-caret-up fa-2x"></font></span><div class="cmt_item rep_item" id="" "item_362615" =""><div class="rowuser"><a href="javascript:void(0)"><div class="cmt_admin"></div><strong>Ngọc Trâm</strong></a><b class="qtv">QTV</b></div><div class="question"> CellphoneS xin chào anh Duong San,<br>Dạ em kiểm tra anh GOPRO HERO 7 BLACK - SPECIAL BUNDLE anh mua ngày 16/03/2020 hiện vẫn còn trong thời hạn bảo hành. Trường hợp này em xin phép chuyển thông tin anh đến cửa hàng, các bạn sẽ sớm liên hệ hỗ trợ anh tốt hơn nhé. <br>Xin gửi thông tin đến anh.<br></div><div class="actionuser"><a href="javascript:void(0)" class="respondent" onclick="comment.replyCmtAction(362517,174108447)"> <i class="fa fa-commenting" aria-hidden="true"></i> Trả lời</a><a href="javascript:void(0)" class="time">| 23 ngày trước</a></div></div></div><div class="form_reply_wrap" id="form_reply_362517"></div>
                        </li>
                    </ul>
                    <div class="f-left">
                        <a id="cmt_loadmore" href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="pageComment.loadMore()" rel="nofollow">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end content-->
