
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
    {
    <link rel="stylesheet" href="~/Content/style/css/content_khuyenmai.css" />
}

@using CNWeb_BTL_BanLaNha.Models;

@model IEnumerable<SANPHAM>

<div id="box-content">
    <div class="container" style="margin-top: 1rem">
        <div class="row">
            <div class="slide-show">
                <div class="vt-slideshow">
                    <ul>
                        <li class="slide1" data-transition="random"><img src="images/slide/bg-s2.png" alt="" /></li>
                        <li class="slide2" data-transition="random"><img src="images/slide/bg-s1.png" alt="" /></li>
                        <li class="slide3" data-transition="random"><img src="images/slide/bg-s3.png" alt="" /></li>
                        <li class="slide3" data-transition="random"><img src="images/slide/bg-s4.png" alt="" /></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="position-02">
        <div class="container">
            <div class="row">
                <div class="title-sp">
                    Sản Phẩm Đang Khuyến Mãi

                </div>
                <div class="block vt-slider vt-slider3">
                    <div class="slider-inner">
                        <div class="container-slider">
                            <div class="products-grid">
                                @foreach(SANPHAM it in Model)
                                {
                                    <div class="item">
                                        <div class="item-wrap">
                                            <div class="item-image">
                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                    <img class="first_image" src="~/content/images/product/Phone/@it.url" alt="Product demo" />
                                                </a>
                                                <div class="item-btn">
                                                    <div class="box-inner">
                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                        <span class="qview">
                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left"
                                                               data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                            </div>
                                            <div class="pro-info">
                                                <div class="pro-inner">
                                                    <div class="pro-title product-name"><a href="detail.html">@it.TenSP</a></div>
                                                    <div class="pro-content">
                                                        <div class="wrap-price">
                                                            <div class="price-box">
                                                                <span class="regular-price">
                                                                    <span class="price">@it.GiaSP</span>
                                                                </span>
                                                                <p class="special-price">
                                                                    <span class="price">10% (còn 1 ngày)</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="ratings">
                               <div class="rating-box">
                                  <div class="rating" style="width:80%"></div>
                               </div>
                               <span class="amount"><a href="#">1(s)</a></span>
                            </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end item wrap -->
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="navslider">
                            <a class="prev" href="#">Prev</a>
                            <a class="next" href="#">Next</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="position-04">
        <div class="container">
            <div class="row">
                <div class="title-sp">
                    Sự Kiện Khuyến Mãi
                    <!-- <ul class="view-more">
                      <li><a href="#">View more Laptops</a></li>
                      <li><a href="#">View more Desktops</a></li>
                    </ul> -->
                </div>
                <div class="block vt-slider vt-slider4">
                    <div class="slider-inner">
                        <div class="container-slider">
                            <div class="products-grid">
                                <div class="item">
                                    @foreach (SANPHAM it in Model)
                                    {
                                        
                                            <div class="item-wrap">
                                                <div class="item-image">
                                                    <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                        <img class="first_image" src="~/content/images/product/Phone/@it.url" alt="Product demo" />
                                                    </a>
                                                </div>
                                                <div class="product-shop">
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">@it.TenSP</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">@it.GiaSP</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">10% (10/06/2020-10/09/2020)</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-btn">
                                                        <div class="box-inner">
                                                            <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                            <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                            <span class="qview">
                                                                <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left"
                                                                   data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                            </span>
                                                            <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    }
                                    }
                                    <!--end item wrap -->
                                </div>
                                
                                <!--end item wrap -->
                            </div>
                        </div>
                    </div>
                    <div class="navslider">
                        <a class="prev" href="#">Prev</a>
                        <a class="next" href="#">Next</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
